div {
  position: fixed !important;
  width: 80%;
  height: 80%;
  top: 10%;
  left: 10%;
  background-color: white;
  margin: 0 auto;
  /* color  and style*/
  font-size: 25px;
  font-family: Raleway;
  font-weight: 600;
  text-align: left;
  color: rgba(30, 29, 29, 0.87);
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  background: rgb(165, 213, 245);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 7px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
