p {
  font-size: 25px;
  font-family: Raleway;
  font-weight: 600;
  text-align: center;
  color: rgba(30, 29, 29, 0.87);
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  background: rgb(165, 213, 245);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 7px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  justify-content: space-evenly;
}

.deleteButton {
  /*Не работи, не знам защо*/
  left: 55%;
}
