<div class="droplist-container">
  <h2>To do</h2>

  <div
    cdkDropList
    #todoList="cdkDropList"
    [cdkDropListData]="todo"
    [cdkDropListConnectedTo]="[inprogressList, reviewList, doneList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)"
  >
    <div class="ticket" *ngFor="let item of todo" cdkDrag>{{ item }}</div>
  </div>
</div>

<div class="droplist-container">
  <h2>In Progress</h2>

  <div
    cdkDropList
    #inprogressList="cdkDropList"
    [cdkDropListData]="inprogress"
    [cdkDropListConnectedTo]="[todoList, reviewList, doneList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)"
  >
    <div class="ticket" *ngFor="let item of inprogress" cdkDrag>
      {{ item }}
    </div>
  </div>
</div>

<div class="droplist-container">
  <h2>Review</h2>

  <div
    cdkDropList
    #reviewList="cdkDropList"
    [cdkDropListData]="review"
    [cdkDropListConnectedTo]="[todoList, inprogressList, doneList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)"
  >
    <div class="ticket" *ngFor="let item of review" cdkDrag>
      {{ item }}
    </div>
  </div>
</div>

<div class="droplist-container">
  <h2>Done</h2>

  <div
    cdkDropList
    #doneList="cdkDropList"
    [cdkDropListData]="done"
    [cdkDropListConnectedTo]="[todoList, inprogressList, reviewList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)"
  >
    <div class="ticket" *ngFor="let item of done" cdkDrag>{{ item }}</div>
  </div>
</div>
