button {
  top: 1rem;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 7px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.btn-all {
  left: 2%;
}
.btn-project {
  left: 4%;
}
.btn-assign {
  left: 6%;
}
.btn-newTicket {
  left: 15%;
}
.btn-newProject {
  left: 17%;
}
.btn-logout {
  left: 40%;
}

.h1 {
  font-weight: 600;
  top: 2rem;
  left: 5%;
}
hr {
  height: 1px;
  border-width: 0;
  background-color: #062125;
}

/* .example-container {
  width: 500px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.5);
} */

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}
