<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/login_style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
</head>

<body class="body">

<div class="login-page">
    <div class="form">
        <form th:action="@{/login}" method="post">
            <input name="username" type="text" placeholder="&#xf007;  username"/>
            <input name="password" type="password" id="password" placeholder="&#xf023;  password"/>
            <i class="fas fa-eye" onclick="show()"></i>
            <br>
            <br>
            <button type="submit">LOGIN</button>
            <div th:if="${param.error}">
                <p>Invalid username or password</p>
            </div>
        </form>

        <form class="login-form">
            <button type="button" onclick="window.location.href='registration'">SIGN UP</button>
        </form>
    </div>
</div>

<script>
    function show() {
        var password = document.getElementById("password");
        var icon = document.querySelector(".fas");

        if (password.type === "password") {
            password.type = "text";
            icon.style.color = "red";
        } else {
            password.type = "password";
            icon.style.color = "black";
        }
    }
</script>

</body>
</html>