<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Sign Up</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="/css/signup_style.css"/>
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
            href="https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600"
            rel="stylesheet"
            type="text/css"
    />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
          integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
</head>

<body class="body">

<div class="login-page">
    <div class="form">
        <form th:action="@{/registration}" th:object="${user}" method="post">
            <input id="email" type="text" th:field="*{email}" placeholder="email"/>
            <input type="text" th:field="*{username}" placeholder="username"/>
            <input type="password" th:field="*{password}" id="password" placeholder="password"/>
            <i class="fas fa-eye" onclick="show()"></i>
            <br>
            <br>

            <button id="submit-btn" type="submit">
                SIGN UP
            </button>
            <div>
                <p id="error" th:text="${error}"></p>
            </div>
        </form>
    </div>
</div>
</body>
<script>
    // https://stackoverflow.com/questions/46155/how-can-i-validate-an-email-address-in-javascript
    const validateEmail = (email) => {
        return String(email)
            .toLowerCase()
            .match(
                /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|.(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
            );
    };
    const email = document.getElementById("email");
    const password = document.getElementById("password");
    const submitBtn = document.getElementById("submit-btn");
    const errorParagraph = document.getElementById("error");
    submitBtn.addEventListener("click", function (event) {
        if (!validateEmail(email.value)) {
            event.preventDefault();
            errorParagraph.textContent = "Invalid email";
        }
        const passwordText = password.value;
        if (passwordText.length < 8) {
            errorParagraph.textContent = "Password should contain at least 8 characters";
            event.preventDefault();
        } else {
            let hasCapital = false;
            for (let i = 0; i < passwordText.length; i++) {
                if (passwordText[i] === passwordText[i].toUpperCase()) {
                    hasCapital = true;
                }
            }
            if (!hasCapital) {
                errorParagraph.textContent = "Password should contain at least 1 capital character";
                event.preventDefault();
                return;
            }
            const regex = /[ `!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?~]/;
            if (!passwordText.match(regex)) {
                errorParagraph.textContent = "Password should contain at least 1 special character";
                event.preventDefault();
                return;
            }
        }

    });

    function show() {
        var password = document.getElementById("password");
        var icon = document.querySelector(".fas");

        if (password.type === "password") {
            password.type = "text";
            icon.style.color = "red";
        } else {
            password.type = "password";
            icon.style.color = "black";
        }
    }
</script>
</html>
